# Bandurria
# Lightweight comment system for static websites
# Configuration file
# Example: https://github.com/valeriansaliou/bandurria/blob/master/config.cfg


[server]

log_level = "debug"
inet = "[::1]:8080"

[assets]

path = "./res/assets/"

[database]

[database.mysql]

uri = "mysql://bandurria:@localhost/bandurria"

[site]

base_url = "https://valeriansaliou.name/blog/"
admin_emails = ["valerian@valeriansaliou.name"]
