/* -------------------------------------------------------------
 * Bandurria comments custom style
 * ------------------------------------------------------------- */

/* Bandurria > Form */

.bandurria-form,
.bandurria-form p {
    margin: 0;
}

.bandurria-form button[type="submit"]:disabled,
.bandurria-form textarea,
.bandurria-form input[type="text"],
.bandurria-form input[type="email"] {
    color: black;
    background-color: #fff;
}

.bandurria-form button[type="submit"],
.bandurria-form textarea,
.bandurria-form input[type="text"],
.bandurria-form input[type="email"] {
    border: 1px solid black;
    border-radius: 3px;
}

.bandurria-form button[type="submit"],
.bandurria-form input[type="text"],
.bandurria-form input[type="email"] {
    font-size: 0.95em;
    height: 2.25rem;
    margin-top: 6px;
    padding: 0.5rem 0.75rem;
}

.bandurria-form button {
    box-shadow: none;
}

.bandurria-form input[type="text"],
.bandurria-form input[type="email"] {
    width: 200px;
    max-width: 200px;
}

.bandurria-form textarea {
    font-size: 1em;
    line-height: 1.35em;
    margin-top: 12px;
    padding: 0.55rem 0.75rem;
    width: 100%;
    max-height: 15rem;
    resize: vertical;
}

.bandurria-form textarea:focus,
.bandurria-form input[type="text"]:focus,
.bandurria-form input[type="email"]:focus {
    border-color: black;
}

.bandurria-form--main textarea {
    min-height: 5rem;
}

.bandurria-form--reply textarea {
    min-height: 4rem;
}

.bandurria-form button[type="submit"]:not(:disabled) {
    color: #fff;
    background-color: black;
    cursor: pointer;
}

.bandurria-form button[type="submit"]:not(:disabled):active {
    transform: translateY(1px);
}

.bandurria-form label {
    line-height: 1.2em;
    margin-top: 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.bandurria-form label input[type="checkbox"] {
    margin: 0 7px 0 1px;
}

/* Bandurria > Header */

.bandurria-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}

.bandurria-header > .bandurria-imprint {
    text-align: right;
}

/* Bandurria > Imprint */

.bandurria-imprint {
    font-size: 0.95em;
}

.bandurria-imprint,
.bandurria-imprint > a {
    color: #959595;
}

.bandurria-imprint > a:hover {
    color: #636363;
}

/* Bandurria > Banners */

.bandurria-banner {
    font-size: 0.95em;
    line-height: 1.35em;
    margin-top: 18px;
}

.bandurria-banner--presubmit {
    color: #000;
    font-style: italic;
}

.bandurria-banner--submitting {
    color: #636363;
}

.bandurria-banner--submitted {
    color: #00781e;
}

.bandurria-banner--submiterror {
    color: #e80000;
}

.bandurria-banner > .bandurria-wait {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: 4px;
    opacity: 0.6;
}

/* Bandurria > Wait */

.bandurria-wait {
    color: currentColor;
}

.bandurria-wait,
.bandurria-wait > span {
    box-sizing: border-box;
}

.bandurria-wait {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.bandurria-wait > span {
    background-color: currentColor;
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 6px;
    animation: bandurria-wait 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.bandurria-wait > span:nth-child(1) {
    left: 3px;
    animation-delay: -0.24s;
}

.bandurria-wait > span:nth-child(2) {
    left: 12px;
    animation-delay: -0.12s;
}

.bandurria-wait > span:nth-child(3) {
    left: 21px;
    animation-delay: 0s;
}

/* Bandurria > Comments */

ul.bandurria-comments {
    margin: 1.4rem 0 0;
    padding: 0;
}

li.bandurria-comment {
    list-style: none;
    margin: 0 0 1rem;
}

li.bandurria-comment:last-child {
    margin-bottom: 0;
}

li.bandurria-comment.bandurria-comment--anchored .bandurria-body {
    animation: bandurria-flash 3s 1 ease-out;
}

/* Bandurria > Comment Body */

.bandurria-body {
    font-style: normal;
    hyphens: auto;
    line-height: 1.35em;
    min-height: 1.35em;
    position: relative;
    margin: 4px 0 10px;
    padding: 3px 0 3px 14px;
    border-left: 3px solid lightgray;
}

.bandurria-body p {
    margin: 6px 0;
}

.bandurria-body p:first-of-type {
    margin-top: 0;
}

.bandurria-body p:last-of-type {
    margin-bottom: 0;
}

/* Bandurria > Nested Comments */

.bandurria-body > ul.bandurria-comments {
    margin: 1.1rem 0 0;
}

.bandurria-body > ul.bandurria-comments .bandurria-body {
    border-color: whitesmoke;
    margin-bottom: 0;
}

/* Bandurria > Comment Reply */

.bandurria-reply {
    background-color: transparent;
    border: 0 none;
    color: gray;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
}

.bandurria-reply:hover {
    text-decoration: underline;
}

/* Bandurria > Comment Metas (Author & Date) */

.bandurria-metas {
    margin-bottom: 10px;
}

.bandurria-avatar {
    background-color: whitesmoke;
    margin: -5px 0.15em -5px 0;
    border-radius: 50%;
    display: inline-block;
}

.bandurria-author {
    font-weight: bold;
}

.bandurria-date:before {
    content: " – ";
    margin: 0 0.15em;
}

.bandurria-date {
    color: gray;
}

.bandurria-date > a {
    color: inherit;
    text-decoration: none;
}

.bandurria-date > a:hover {
    text-decoration: underline;
}

/* Bandurria > Animations */

@keyframes bandurria-flash {
    0% {
        background-color: rgba(255, 255, 100, 0);
    }

    15% {
        background-color: rgba(255, 255, 100, 0.3);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes bandurria-wait {
    0% {
        top: 3px;
        height: 24px;
        opacity: 1;
    }

    50%,
    100% {
        top: 9px;
        height: 12px;
        opacity: 0.4;
    }
}
