/* -------------------------------------------------------------
 * Page base style
 * ------------------------------------------------------------- */

body {
    font-family: sans-serif;
    font-size: 15px;
}

main {
    max-width: 800px;
    margin: 50px auto;
}

.post-title {
    margin-bottom: 16px;
}

.post-meta {
    color: gray;
}

.post-content {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 40px;
}

.post-footer {
    border-top: 1px gray solid;
    margin-top: 50px;
    padding-top: 40px;
}

/* -------------------------------------------------------------
 * Bandurria comments custom style
 * ------------------------------------------------------------- */

/* Bandurria > Form */

.bandurria-form,
.bandurria-form p {
    margin: 0;
}

.bandurria-form button[type="submit"]:disabled,
.bandurria-form textarea,
.bandurria-form input {
    color: black;
    background-color: transparent;
}

.bandurria-form button[type="submit"],
.bandurria-form textarea,
.bandurria-form input {
    border: 1px solid black;
    border-radius: 3px;
}

.bandurria-form button[type="submit"],
.bandurria-form input {
    font-size: 0.8rem;
    margin-top: 6px;
    padding: 0.35rem 0.7rem;
}

.bandurria-form input {
    width: 200px;
    max-width: 200px;
}

.bandurria-form textarea {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 12px;
    padding: 8px 12px;
    width: 100%;
    max-height: 240px;
    resize: vertical;
}

.bandurria-form textarea:focus {
    border-color: blue;
}

.bandurria-form--main textarea {
    min-height: 80px;
}

.bandurria-form--reply textarea {
    min-height: 60px;
}

.bandurria-form button[type="submit"]:not(:disabled) {
    color: white;
    background-color: black;
    cursor: pointer;
}

.bandurria-form button[type="submit"]:not(:disabled):active {
    transform: translateY(1px);
}

/* Bandurria > Banners */

.bandurria-banner {
    font-size: 0.9rem;
    line-height: 1.15rem;
    margin-top: 18px;
}

.bandurria-banner--presubmit {
    color: black;
}

.bandurria-banner--submitted {
    color: blue;
}

/* Bandurria > Comments */

ul.bandurria-comments {
    margin: 2rem 0;
    padding: 0;
}

li.bandurria-comment {
    list-style: none;
    margin: 0 0 0.6rem;
    padding: 0.25rem;
}

li.bandurria-comment:last-child {
    margin-bottom: 0;
}

/* Bandurria > Comment Body */

.bandurria-body {
    font-style: normal;
    line-height: 1.2rem;
    min-height: 1.2rem;
    position: relative;
    margin: 4px 0 10px;
    padding: 3px 0 3px 14px;
    border-left: 3px solid lightgray;
}

.bandurria-body p {
    margin: 6px 0;
}

.bandurria-body p:first-of-type {
    margin-top: 0;
}

.bandurria-body p:last-of-type {
    margin-bottom: 0;
}

/* Bandurria > Comment Reply */

.bandurria-reply {
    background-color: transparent;
    border: 0 none;
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
}

.bandurria-reply:hover {
    text-decoration: underline;
}

/* Bandurria > Comment Metas (Author & Date) */

.bandurria-metas {
    margin-bottom: 10px;
}

.bandurria-author {
    font-weight: bold;
}

.bandurria-date:before {
    content: " – ";
    margin: 0 0.15em;
}

.bandurria-date {
    color: gray;
}
